<h1><%= @task.id %> </h1>
<h2><%=  @task.title %></h2>
<h3><%= @task.details %> </h3>
<h4><%= @task.completed %> </h4>


<%= link_to 'Back to List', tasks_path %>
<br>
<%= link_to 'Delete',
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }
 %>
